.produkJualanList {
  display: grid;
  grid-template-columns: 25% repeat(4, 25%);
  grid-column-gap: 10px;
  grid-template-rows: 300px;
}

.produkJualanItem {
  list-style: none;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.produkJualan-text {
  text-align: center;
}

.produkJualanLink {
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
